{% extends 'core/base.html' %}
{% load static %}
{% block content %}
 <div class="container">
        <div class="sidebar">
            <div class="links">
                <div class="logo-cont">
                    <a href="{% url 'core:index' %}"><img src="{% static 'images/logos/logo.svg' %}" alt=""></a>
                </div>
                <div class="link-group">
                    <a href="{% url 'core:new-assessment' %}">New assessment/study session</a>
{#                    <a href="#">New practise SAC</a>#}
                </div>
{#                <div class="link-group">#}
{#                    <a href="#">New exam</a>#}
{#                    <a href="#">New SAC</a>#}
{#                </div>#}
                <div class="link-group">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                </div>
            </div>
            <div class="timer">
                <p>VCE Results Release in</p>
                <h2 id="demo"></h2>
            </div>
        </div>
 <div class="application-window">
     <div class="empty-window">
         <h1>+</h1>
         <p>Select Action</p>
     </div>
 </div>
 </div>
    <style>
    @media screen and (max-width: 600px) {
        .application-window {
            display: none;
        }
        .sidebar {
            height: 100vh !important;
        }
        .logo-cont {display: block !important;}
        .link-group {
            margin: 12px 0 0 0 !important;
            align-items: flex-start !important;
        }
    }
    </style>
{% endblock content %}