{% extends 'core/base.html' %}
{% load static %}

{% block content %}
 <div class="container">
        <div class="sidebar">
            <div class="links">
                <div class="logo-cont">
                    <img src="{% static 'images/logos/logo.svg' %}" alt="">
                </div>
                <div class="link-group">
                    <a href="#">New practise exam</a>
                    <a href="#">New practise SAC</a>
                </div>
                <div class="link-group">
                    <a href="#">New exam</a>
                    <a href="#">New SAC</a>
                </div>
                <div class="link-group">
                    <a href="#">Settings</a>
                </div>
            </div>
            <div class="timer">
                <p>VCE Results Release in</p>
                <h2 id="demo"></h2>
            </div>
        </div>
 <div class="application-window">
     <div class="assessment-form">
         <h1 class="page-heading">New Assessment</h1>
         <div class="form-assessment">
             <form method="post" action="">
                 {{ form.subject }}
             </form>
         </div>
     </div>
 </div>
 </div>

{% endblock %}