{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <script>
    $( function() {
    $( document ).tooltip();
  } );
    </script>
 <div class="container">
        <div class="sidebar">
            <div class="links">
                <div class="logo-cont">
                    <a href="{% url 'core:index' %}"><img src="{% static 'images/logos/logo.svg' %}" alt=""></a>
                </div>
                <div class="link-group">
                    <a href="{% url 'core:new-assessment' %}">New assessment/study session</a>
{#                    <a href="#">New practise SAC</a>#}
                </div>
{#                <div class="link-group">#}
{#                    <a href="#">New exam</a>#}
{#                    <a href="#">New SAC</a>#}
{#                </div>#}
                <div class="link-group">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                </div>
            </div>
            <div class="timer">
                <p>VCE Results Release in</p>
                <h2 id="demo"></h2>
            </div>
        </div>
 <div class="application-window">
     <div class="assessment-form">
         <h1 class="page-heading">New Assessment</h1>
         <div class="form-assessment">
             <form id="form-assessment" class="sign-up-form" enctype="multipart/form-data" method="POST" action="{% url 'core:new-assessment' %}">
                 {% csrf_token %}
                 <div class="label-input">
                    <label for="school">What subject is this for?</label>
                    {{ form.subject }}
                 </div>
                <div class="label-input checkbox-input">
                        <label for="study_session">Is this a study session?</label>
                    <input type="checkbox" name="study_session" id="study_session" required title="We ask for your age only for statistical purposes.">

                 </div>
                 <small style="font-size: 10px"><mark>If not selected, this will be treated as a practise SAC. Practise exams will be released later in term 2.</mark></small>
                 <div class="label-input checkbox-input">
                    <label for="self_marked">Did you self mark this?</label>
                    <input type="checkbox" name="self_marked" id="self_marked" required>
                 </div>
                 <div class="mark-container">
                     <div class="label-container">
                     <p>What score did you get?</p>
                     </div>
                     <div class="answer-container">
                    <div class="total-correct answer">
                        <input type="number" name="correct" id="correct">
                    </div>
                     <div class="answer divider">
                        /
                    </div>
                     <div class="total-total answer">
                         <input type="number" name="total_questions" id="total_questions">
                     </div>
                     </div>
                 </div>
                <div class="hidden-inputs">
                    <input type="hidden" name="start_time" id="start_time" value="">
                    <input type="hidden" name="end_time" id="end_time" value="">
                </div>
             </form>
             <div class="button-container">
                 <button id="start-btn" class="btn btn__primary">Start timer</button>
                 <button id="end-btn" class="btn btn__primary">Pause timer</button>
             </div>
             <div class="stopwatch">
                 <h1>
  <span id="hour">00</span>:
  <span id="min">00</span>:
  <span id="sec">00</span>
  <span id="milisec">00</span>
{#  <span id="milisec">00</span>#}
</h1>
             </div>
         </div>
     </div>
 </div>
 </div>

    <script>

// Getter
var content = $( ".selector" ).tooltip( "option", "content" );

// Setter
$( ".selector" ).tooltip( "option", "content", "Awesome title!" );
    </script>
<style>
    @media screen and (max-width: 600px) {
        .logo-cont {
            display: block !important;
        }
        .links .link-group {
            display: none !important;
        }
        .timer { display: none; }
    }
    </style>
{% endblock %}